body {
    font-family: 'poppins', sans-serif;
    background-color: #212A3E;
    color: #F1F6F9;
}

.container-fluid{
background-color: #212A3E;
padding-top: 0;
}

.navbar {
  width: 100%;
  background-color:  #212A3E;
  overflow: auto;
}

.navbar a {
  float: right;
  padding: 12px;
  color: #F1F6F9;
  text-decoration: none;
  font-size: 15px;
  font-weight: lighter;
}

.navbar a:hover {
  background-color: #394867;
}

.active {
  background-color: #9BA4B5;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.section1{
position: relative;
width: 90%;
display: flex;
justify-content: space-between ;
align-items: center;
margin-left: 50px;
margin-top: 20px;
padding-top: 30px;
}

h1{
    font-size: 43px;
    font-weight: bold;
}

p{
    font-size: 24px;
    font-weight: 300;

}

.section1 .textBox {
    width: 60%;
    }

 .section1 .textBox p span{
    text-shadow: yellow;
    color: azure;
    font-weight: 500;
    font-size: 27px;
    text-decoration:underline;
    }

.imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right:50px;
    margin: top 50px;
}

.imgBox img{
    max-width: 340px

}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
    
}

.thumb li {
list-style: none;
display: inline-block;
margin: 0 20px;
cursor: pointer;
transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img{
    max-width: 60px;
}

.thumbText {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
  font-size: 17px;
  font-style: italic;
  text-shadow: 0 0 3px #f5ffff
  
}



.circle{
   position: absolute; 
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background:#9BA4B5;
   clip-path: circle(600px at right 800px);
}
