html{
  scroll-behavior: smooth;
}

body{
  font-family: 'poppins', sans-serif ;
  background-image: linear-gradient(to right, #00030E , #212A3E);
  color: #F1F6F9;
  overflow-x:hidden;
}

h1{
  font-size: 36px;
  font-weight: 700;
}
/* .container-fluid{
background-color: #212A3E;
padding-top: 0;
} */

.navbar {
width: 100% ;
background-color:  #121826 ;
overflow: auto ;
}

.navbar a {
float: right;
padding: 12px;
color: #F1F6F9;
text-decoration: none;
font-size: 15px;
font-weight: lighter;
}

.navbar a:hover {
background-color: #394867;
}

.active {
background-color: #9BA4B5;
}

@media screen and (max-width: 500px) {
.navbar a {
  float: none;
  display: block;
}
}

.presection{
  background-image: url(bg1.jpeg);
  background-color: #212A3E;
  background-blend-mode: multiply;
}

.section1{
position: relative;
width: 90%;
display: flex;
justify-content: space-between ;
align-items: center;
margin-left: 50px;
/* margin-top: 20px; */
padding-top: 10px;
}

.section2{
 background-image: url(bg.jpeg);
 background-color: #212A3E;
 background-blend-mode: multiply;
}

.textBox h1{
  font-size: 64px;
  font-weight: bold;
}

p{
  font-size: 24px;
  font-weight: 300;

}

.section1 .textBox {
  width: 60%;
  }

.section1 .textBox p span{
  text-shadow: yellow;
  color: azure;
  font-weight: 500;
  font-size: 21px;
  text-decoration: underline;
  }

  .section1 .textBox p{
    font-size: 18px;
    }

.imgBox{
  width: 500px;
  display: flex;
  justify-content: flex-end;
  padding-top: 0%;
  padding-right:44px;
  /* margin: top 30px; */
}

.imgBox img{
  max-width: 340px

}

.thumb{
  justify-content: center;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%);
  display: flex;
  
}

.thumb li {
list-style: none;
display: inline-block;
margin: 0 22px;
cursor: pointer;
transition: 0.5s;
}

.thumb li:hover{
  transform: translateY(-15px);
}

.thumb li img{
  max-width: 60px;
}

.thumbText {
position: absolute;
bottom: 23%;
left: 50%;
transform: translateX(-50%);
color: white;
padding: 5px;
font-size: 17px;
font-style: italic;
text-shadow: 0 0 3px #f5ffff
}

.circle{
 position: absolute; 
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background:#9BA4B5;
 clip-path: circle(600px at right 800px);
 z-index: -10;
}

.header{
  background-color:rgba(255, 255, 255, 0.5) ;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 500px;
}

.header h1{
  font-weight: 700;
  text-shadow: #00030E;
  color: #121826;
  display: flex;
  justify-content: center;
}


.subheader{
  text-decoration: underline;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
}
.flip-card {
  background-color: transparent;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card-back {
  background-color: #9BA4B5;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.education-flip{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 30px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
